.overlay {
    position: fixed;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.6);
    animation: fadeIn ease-out 0.2s;
    z-index: 100;
    font-size: 1.1rem;
}

::deep .page {
    overflow-y: auto;
    background-color: white;
    border-top-left-radius: 1rem;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 0.75rem black;
    animation: slideFromRight ease-out 0.25s;
}

@keyframes fadeIn {
    0% { opacity:0; }
    100% { opacity:1; }
}

@keyframes slideFromRight {
    0% { opacity:0; transform: translateX(16rem); }
    100% { opacity:1; transform: translateX(0); }
}
