<nav class="fixed w-full z-50 top-0">
    <div class="mx-auto px-4">
        <div class="headerbar flex items-center justify-between">
            <div class="flex items-center">
                <svg class="logo" viewBox="0 0 399 400" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" overflow="hidden">
                    <g transform="translate(-140 -75)"><path d="M406.853 275.779C417.868 275.721 429.356 282.982 435.61 295.134 443.95 311.337 439.83 330.101 426.408 337.044 412.985 343.987 395.344 336.48 387.004 320.277 378.665 304.074 382.785 285.31 396.207 278.367 399.563 276.631 403.182 275.799 406.853 275.779ZM315.286 139.088C305.9 138.929 295.737 139.927 288.58 141.235 279.037 142.98 262.821 151.909 254.335 156.591 245.85 161.274 243.222 165.084 237.666 169.33 229.573 176.426 221.782 188.495 217.736 197.947 213.689 207.399 213.327 214.931 213.387 226.041 213.447 237.151 215.803 252.448 218.098 264.605 220.393 276.762 223.564 282.782 226.251 290.43 228.939 298.079 236.186 312.097 242.92 323.061 244.604 325.803 246.554 328.234 248.625 330.593L250.723 332.906 250.14 335.559C247.773 359.328 261.437 386.337 286.945 403.532 320.955 426.458 363.139 423.255 381.167 396.378 399.194 369.5 386.238 329.126 352.228 306.2 326.72 289.005 296.615 286.508 275.551 297.673L272.948 299.473 271.766 298.366C270.178 296.783 268.921 294.967 265.931 288.686 261.945 280.31 252.674 262.133 249.624 249.773 246.574 237.412 246.031 225.372 247.631 214.524 249.232 203.677 252.403 193.963 259.227 184.685 262.64 180.047 267.615 174.957 272.918 170.344L277.738 166.482 278.357 166.25C284.575 164.133 295.432 161.601 303.196 162.132 313.547 162.839 326.197 166.928 336.082 172.345 345.967 177.762 355.593 187.195 362.504 194.632 369.414 202.069 373.314 209.144 377.542 216.967 380.713 222.835 383.255 230.469 385.589 236.373L385.942 237.178 379.201 241.482C362.736 254.249 355.172 276.729 358.433 300.168L358.861 302.051 369.452 310.485C381.497 321.777 390.019 335.214 394.431 348.963L396.62 358.952 405.303 363.637C420.659 370.171 437.384 370.475 451.838 362.998 480.744 348.045 489.617 307.635 471.657 272.74 464.922 259.654 455.37 249.202 444.536 242.038L440.412 239.691 437.893 236.119C435.301 232.534 432.462 228.761 429.724 225.168L428.987 224.196 423.971 216.736C413.602 201.664 397.372 179.866 384.971 169.329 365.13 152.471 365.765 154.323 356.162 149.437 346.559 144.551 335.537 141.032 324.273 139.665 321.457 139.323 318.415 139.142 315.286 139.088ZM339.5 76C449.129 76 538 165.095 538 275 538 384.905 449.129 474 339.5 474 229.871 474 141 384.905 141 275 141 165.095 229.871 76 339.5 76Z" fill="currentColor" fill-rule="evenodd"/></g>
                    <g transform="translate(-122 -99)"><path d="M388.557 299.459C384.877 299.478 381.251 300.311 377.888 302.046 364.438 308.986 360.309 327.741 368.666 343.937 377.023 360.133 394.701 367.637 408.151 360.697 421.601 353.756 425.73 335.001 417.373 318.805 411.106 306.658 399.595 299.4 388.557 299.459ZM296.799 162.828C299.934 162.881 302.983 163.063 305.805 163.404 317.092 164.771 328.137 168.288 337.76 173.172 347.383 178.056 346.747 176.205 366.629 193.056 379.055 203.588 395.319 225.376 405.71 240.441L410.736 247.898 411.475 248.87C414.219 252.461 417.063 256.233 419.661 259.816L422.185 263.386 426.318 265.732C437.174 272.894 446.746 283.341 453.495 296.421 471.493 331.301 462.601 371.693 433.634 386.639 419.151 394.113 402.391 393.809 387.003 387.278L378.302 382.595 376.109 372.611C371.687 358.867 363.147 345.436 351.077 334.149L340.465 325.719 340.036 323.837C336.768 300.408 344.347 277.938 360.847 265.177L367.602 260.874 367.248 260.07C364.909 254.168 362.362 246.537 359.184 240.673 354.948 232.853 351.039 225.781 344.115 218.347 337.19 210.913 327.543 201.484 317.638 196.07 307.733 190.656 295.056 186.568 284.684 185.861 276.904 185.331 266.024 187.861 259.794 189.978L259.173 190.21 254.343 194.07C249.029 198.681 244.043 203.768 240.624 208.405 233.785 217.678 230.608 227.388 229.004 238.231 227.4 249.074 227.945 261.109 231.001 273.464 234.057 285.818 243.347 303.987 247.342 312.359 250.337 318.639 251.597 320.454 253.189 322.036L254.373 323.142 256.981 321.343C278.089 310.183 308.257 312.679 333.818 329.866 367.898 352.782 380.882 393.139 362.817 420.004 344.752 446.87 302.479 450.072 268.399 427.155 242.838 409.968 229.145 382.971 231.517 359.213L232.102 356.56 229.999 354.249C227.924 351.891 225.97 349.46 224.283 346.72 217.535 335.761 210.272 321.749 207.579 314.104 204.886 306.458 201.709 300.441 199.409 288.289 197.109 276.138 194.749 260.847 194.688 249.742 194.628 238.638 194.991 231.109 199.046 221.661 203.101 212.213 210.908 200.149 219.018 193.056 224.586 188.812 227.218 185.003 235.722 180.323 244.225 175.643 260.475 166.718 270.037 164.974 277.209 163.666 287.393 162.668 296.799 162.828Z" fill-rule="evenodd"/></g>
                </svg>

                <div class="title flex items-baseline space-x-4 text-gray-300 py-2 rounded-md font-medium">
                    Blazor Recording Studios
                </div>
            </div>
            <SectionOutlet Name="header-stuff" />
            <div class="flex">
                <button @onclick="ToggleNavMenu" class="hamburger inline-flex items-center justify-center p-1 rounded-md text-gray-400 hover:text-white hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-offset-gray-800">
                    <span class="sr-only">Open main menu</span>
                    @if (collapseNavMenu)
                    {
                        <svg class="block h-7 w-7" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
                        </svg>
                    }
                    else
                    {
                        <svg class="h-7 w-7" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                        </svg>
                    }
                </button>
            </div>
        </div>
    </div>

    <div class="@NavMenuCssClass" @onclick="@ToggleNavMenu">
        <div class="px-2 pt-2 pb-3 space-y-1 sm:px-3">
            <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
            <NavLink Match="@NavLinkMatch.All" href="" class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium">Home</NavLink>
            <NavLink href="about" class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium">About</NavLink>
        </div>
    </div>
</nav>

@code {
    private bool collapseNavMenu = true;
    private string NavMenuCssClass => collapseNavMenu ? "hidden" : null;
    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
